.todo {
  border: 1px solid black;
}

.todos__single {
  display: inline;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  background-color: white;
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: 1px solid yellow;
  font-size: 13px;
}

.icon {
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}
